body {
    margin: 0;
    background: url(/screens/textureBrill.jpg) repeat;
    background-size: 20%;
    color: rgb(223, 243, 45);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.redBackground {
    background: url(/screens/redBackground.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: contain, cover;
    min-height: 900px;
}

.lemonBackground {
    background: url(/screens/lemonBackground.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: contain, cover;
    min-height: 900px;
}

.whiteBackground {
    background: url(/screens/whiteBackground.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: contain, cover;
    min-height: 900px;
}

.main {
    text-align: center;
}

.helpBtn {
    display: block;
    position: static;
    text-align: center;
}

.helpBtn button {
    font-size: 10px;
    background-color: rgb(223, 243, 45);
    color: rgb(43, 23, 158);
}

.head {
    display: inline-block;
    text-align: left;
    border-radius: 25px;
    border: 2px solid rgb(223, 243, 45);
    padding: 20px;
    margin-top: 5px;
}

input,
.text-input {
    background-color: rgb(223, 243, 45);
    color: rgb(43, 23, 158);

}

.btn-ok {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



span {
    color: black;
}

hr {
    width: 20vw;
    height: 5px;
    border: 1px solid rgb(223, 243, 45);
}

.result {
    display: block;
    text-align: center;
}

.resultSpace,
.hide {
    visibility: hidden;
}

.example {
    display: inline-block;
    vertical-align: top;
    ;
    margin: 0px 0px 0px 30px;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(223, 243, 45);
}

.example {
    background: rgba(173, 177, 182, 0.719);
    font-size: 20px;
    color: rgb(223, 243, 45);
    border-radius: 25px;
}